@import "scss/buttons.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/forms.scss";

.cart {
  padding: $gutter * 2 $gutter;

  &__icon {
    width: 22px;
    height: 22px;
    margin-right: 4px;
  }

  &__heading {
    margin-bottom: $gutter / 2;
    font-family: $font-heading;
    font-size: 36px;

    &__price {
      margin-top: $gutter / 2;
      margin-bottom: $gutter / 2;
      font-size: 24px;
    }
  }

  &__products {
    display: flex;
    width: 100%;
    margin-bottom: $gutter;
    flex-direction: row;

    &__input {
      display: flex;
      max-width: 100px;
      padding-left: 8px;
      font-size: $primary-font-size;
      border-color: $color-black;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
    }

    &__button {
      display: flex;
      padding: 6px;
      margin-left: 10px;
      font-size: $primary-font-size;
      border-color: $color-black;
      border-style: solid;
      border-width: 1px;
      border-radius: 3px;
      align-items: center;
      justify-content: center;
      transition: $hover-transition;

      &:hover {
        background-color: $color-blue;
      }
    }
  }
}

@media only screen and (min-width: $media-medium) {
  .cart {
    padding: $gutter * 2 0;

    &__item {
      display: flex;
      flex-direction: row;

      &__content {
        width: 75%;
      }

      &__image {
        width: 25%;
      }
    }

    &__forms {
      display: flex;
      justify-content: space-between;
    }
  }
}
