$color-orange: #ff5000;
$color-blue: #00b7ff;
$color-black: #000;
$color-white: #fffcf2;
$primary-font-size: 16px;
$font-main: "Open Sans", helvetica, arial, sans-serif;
$font-heading: "Oswald", Verdana, serif;
$gutter: 20px;
$hover-transition: all 200ms ease-in-out;

// Media queries
$media-medium: 800px;
$media-large: 1500px;

