@import "scss/config.scss";
@import "scss/buttons.scss";

.course {
  &__grid {
    &__row {
      display: flex;
      margin-top: $gutter * 2;
      margin-right: $gutter / 2;
      margin-bottom: $gutter * 2;
      margin-left: $gutter / 2;
      flex-direction: column;
      justify-content: space-around;
    }

    &__col {
      width: 100%;
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }

    &-heading {
      margin-bottom: $gutter;
      font-family: $font-heading;
      font-size: 36px;
    }

    &-text {
      font-size: 24px;
    }

    &-image {
      padding-top: $gutter * 4;
    }
  }

  &__form {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__heading {
    padding-top: 20px;
    margin-bottom: $gutter / 2;
    font-family: $font-heading;
    font-size: 36px;
  }
}

.form {
  &__sign-up {
    flex-direction: column;
    flex-wrap: nowrap;
    border: 0;

    &__line {
      display: flex;
      margin-top: 10px;
      justify-content: space-between;
    }
  }
}

@media (min-width: 600px) {
  .course {
    &__grid {
      &__row {
        flex-direction: row;
      }

      &-image {
        padding-top: $gutter * 0;
      }
    }

    &__form {
      padding-top: $gutter *3;
      padding-right: 10px;
      padding-left: 10px;
      flex-direction: row;
    }

    &__heading {
      padding-top: 0;
    }
  }

  .form {
    &__col {
      width: 50%;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .cart {
    &__form {
      &__input {
        width: auto;
      }
    }
  }
}
