.footer {
  padding: $gutter * 2 $gutter;
  background-color: $color-blue;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__li {
    margin-bottom: $gutter / 2;
  }

  &__title {
    margin-bottom: $gutter;
  }

  &__list {
    width: 100%;
    list-style: none;

    &__item__link {
      font-size: $primary-font-size;
      color: $color-white;
      text-decoration: none;
      transition: $hover-transition;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__col {
    width: 50%;
    margin-bottom: 20px;
  }

  &__text {
    width: 100%;
    font-size: $primary-font-size;
    text-align: center;
  }
}

@media only screen and (min-width: $media-large) {
  .footer {
    flex-wrap: nowrap;

    &__col {
      width: 25%;
    }
  }
}
