.form {
  width: 100%;
}

.form__delivery {
  flex-direction: column;
  flex-wrap: nowrap;
  border: 0;
}

.form__payment {
  flex-direction: column;
  flex-wrap: nowrap;
  border: 0;
}

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $gutter;

  &--noMarginBottom {
    margin-bottom: 0;
  }
}

.form__label {
  min-width: 120px;

  &--small {
    min-width: 50px;
  }
}

.form__input {
  width: 100%;
  min-height: 40px;
  margin-left: $gutter / 2;
  border-color: $color-black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.form__payment__input__creditCard__month {
  width: 65px;
  min-height: 40px;
  margin-left: $gutter / 2;
  border-color: $color-black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.cart__form__payment__input__creditCard__year {
  width: 90px;
  min-height: 40px;
  margin-left: $gutter / 2;
  border-color: $color-black;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

@media only screen and (min-width: $media-medium) {
  .form__row--noMarginBottom {
    margin-left: 10px;
  }
}
