@import "scss/buttons.scss";

.index {
  padding: $gutter * 2 $gutter;

  &__main__title {
    margin: $gutter * 2 0;
    font-family: $font-heading;
    font-size: 36px;
  }

  &__main__text {
    margin-bottom: $gutter;
    font-family: $font-main;
    font-size: 24px;
  }

  &__image {
    margin-top: $gutter;
  }
}

@media only screen and (min-width: $media-medium) {
  .index {
    padding: $gutter * 2 0;

    &__container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      &--reverse {
        flex-direction: row;
      }
    }

    &__containerInner {
      width: calc(50% - #{$gutter / 2});
    }
  }
}
