@import "scss/buttons.scss";
@import "scss/header.scss";
@import "scss/footer.scss";

.grid {
  max-width: 1200px;
  margin: auto;
}

.product {
  &__grid {
    &__row {
      display: flex;
      width: 100%;
      margin-top: 20px;
      margin-right: -10px;
      margin-left: -10px;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    padding-right: $gutter / 2;
    padding-left: $gutter;
    margin-bottom: $gutter * 2;
    flex-direction: column;
  }

  &__price {
    padding-left: $gutter / 2;
    margin-bottom: $gutter / 2;
    font-size: 24px;
    font-weight: bold;
  }

  &__img {
    width: 100%;
  }

  &__order {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
  }

  &__info h2 {
    padding-left: $gutter / 2;
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
    font-size: 36px;
  }

  &__info p {
    padding-left: $gutter / 2;
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
  }

  &__amount {
    padding-left: $gutter / 2;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-left: $gutter / 2;
    padding-right: 0px;
  }

  &__input button {
    display: flex;
    min-width: 135px;
    height: 30px;
    padding: 5px;
    font-size: 16px;
    border: solid #000;
    border-width: 1px;
    border-radius: 3px;
    background:	rgb(211, 206, 206);
  }

  &__input button img {
    width: 20px;
    margin-right: $gutter / 2;
  }

  &__input input {
    width: 50px;
    height: 30px;
    padding-left: 10px;
    border: solid #000;
    border-width: 1px;
    border-radius: 3px;
    margin-right: 10px;
    width: 100%;
  }

}

@media (min-width: 501px) and (max-width: 800px) {
  .product__card {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
    }
  }

@media (min-width: 801px) and (max-width: 1500px) {
  .product__card {
    width: 33.33%;
    padding-right: 0px;
    padding-left: 0px;
   }

  .product__grid__row {
    margin-right: 0px;
    margin-left: 0px; 
  }
}
}
