@import "scss/buttons.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/config.scss";

.grid {
  max-width: 1200px;
  margin: auto;
}

.product {
  &__grid {
    &__row {
      display: flex;
      width: 100%;
      margin-top: 20px;
      margin-right: -10px;
      margin-left: -10px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    padding-right: $gutter / 2;
    padding-left: $gutter;
    margin-bottom: $gutter * 2;
    flex-direction: column;
  }

  &__price {
    padding-left: $gutter / 2;
    margin-bottom: $gutter / 2;
    font-size: 24px;
    font-weight: bold;
  }

  &__img {
    width: 100%;
  }

  &__order {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
  }

  &__info__heading {
    padding-left: $gutter / 2;
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
    font-size: 36px;
  }

  &__info__text {
    padding-left: $gutter / 2;
    margin-top: $gutter / 2;
    margin-bottom: $gutter / 2;
  }

  &__amount {
    padding-left: $gutter / 2;
  }

  &__input {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-right: 0;
    padding-left: $gutter / 2;

    &__button {
      display: flex;
      min-width: 135px;
      height: 30px;
      padding: 5px;
      font-size: 16px;
      background: rgb(223, 221, 221);
      border: solid #000;
      border-width: 1px;
      border-radius: 3px;
      transition: $hover-transition;

      &__img {
        width: 20px;
        margin-right: $gutter / 2;
      }
    }

    &__button:hover {
      background-color: $color-blue;
    }

    &__number {
      width: 50px;
      width: 100%;
      height: 30px;
      padding-left: 10px;
      margin-right: 10px;
      border: solid #000;
      border-width: 1px;
      border-radius: 3px;
    }
  }
}

@media only screen and (min-width: $media-medium) {
  .product__grid__row {
    display: flex;
    flex-direction: row;
  }

  .product__card {
    width: 50%;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  .product__card:nth-child(odd) {
    padding-right: 0;
    padding-left: $gutter;
  }
}

@media only screen and (min-width: $media-large) {
  .product__grid__row {
    display: flex;
    flex-direction: row;
  }

  .product__card {
    width: 33.3333%;
    padding-right: $gutter / 2;
    padding-left: $gutter / 2;
  }

  .product__content {
    padding-right: 10px;
    padding-left: -20px;
  }

  .product__img {
    padding-right: 10px;
    padding-left: 10px;
  }
}
