// stylelint-disable selector-max-type, selector-max-compound-selectors
@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

// Grunn stillingar
header {
  padding: 20px 0;
  text-align: center;
  background-color: $header-background;

  h1 {
    font-size: 60px;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style: none;

    li {
      padding: 0 15px;

      a {
        color: $color-black;
        text-decoration: none;
      }
    }
  }

  a {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    img {
      margin-right: 5px;
    }
  }
}

footer {
  background-color: $footer-background;
}

// TODO sækja allar sass skrár
@import "scss/cart.scss";
