// stylelint-disable selector-max-type, selector-max-compound-selectors
@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

html,
body {
  font-family: $font-main;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@import "scss/cart.scss";
@import "scss/footer.scss";
@import "scss/header.scss";
@import "scss/index.scss";
